body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #e0dddd;
}

h1, h2 {
    color: #333;

}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
}

nav a:hover {
    text-decoration: underline;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
